.examples{
    background-color: #eee; color: black; padding: 8px; border-left: 7px solid gray;
}

#b1{
    color: red;
}
#b2{
    color: green;
}
#b3{
    color: blue;
}

#ttest2{
    margin: 0; padding: 5px; width: 300px; text-indent: 25px; text-align: justify; border: thin outset white;
}
#ttest3{
    width: 300px; padding: 5px; margin: 0; border: thin outset white; letter-spacing: 5px;
}
#ttest3-1{
    width: 300px; padding: 5px; margin: 0; border: thin outset white; word-spacing: 10px;
}
#ttest4{
    width: 300px; padding: 5px; margin: 0; border: thin outset white; text-align: justify; line-height: 1.5;
}
#ttest5{
    width: 100%; margin: 0;
}
#ttest6{
    font-size: 150%; margin:0 0 8px 0; color: white; text-shadow: 2px 2px 5px black; 
}

/*About Me*/
#about{
    width: 60%; margin: 5px auto;
}


/*my Learning*/
.myLrT{
    width: 50%; border-collapse: collapse; text-align: left;
}
.myLrT th{
    background-color: lightgray;
}
.myLrT td, th{
    border: thin solid black; padding: 5px;
}


/*Practices / My Learning.html*/
.practices{
    margin: 20px auto; width: 99%; overflow: hidden; box-sizing: border-box;
}
.p_container{
    width: 33%; float: left; border: thin solid gray; background-color: lightgray; border-radius: 20px;
}
.p_container p{
    text-align: center;
}
.p_container ul{
    margin-left: 7%;
}
.p_container ul li{
    margin: 10px;
}
.p_container a{
    padding: 5px;
}
.p_container a:hover{
    background-color: black; color: white; text-decoration: none;
}

/*Practice: sign in*/
.p_forms{
    text-align: center; width: 40%; margin: 0 auto;
}


@media screen and (max-width: 620px) {
    #about{
        width: 80%;
    }
    .p_container{
        width: 100%; margin-bottom: 8px;
    }
  }
