                    /*---Pages Styles---*/
/*About Me*/
#about{
    width: 60%; margin: 5px auto;
}

/*Contact Me*/
.contact_form{
    padding: 10px; max-width: 370px; margin: 5px auto 50px; border: thin dotted gray; box-sizing: border-box; border-radius: 15px;
}
.c_formD{
    border: none; border-bottom: 1px dotted black; margin-top: 5px; background-color: whitesmoke;
}

/*Details*/
.d_faq{
    background-color: gray; padding: 10px; color: white;
}


/*My Learning.html*/
.myLrT{
    width: 50%; max-width: 350px; border-collapse: collapse; text-align: center; margin: 5px auto;
}
.practices{
    margin: 20px auto; width: 99%; overflow: hidden; box-sizing: border-box; max-width: 1200px;
}
.p_container{
    width: 33%; float: left; background-color: lightgray; border-radius: 20px;
}
#p_html{
    margin-right: 3px;
}
#p_css{
    margin-right: 3px;
}
.p_container p{
    text-align: center;
}
.p_container ul{
    margin-left: 7%;
}
.p_container ul li{
    margin: 10px;
}
.p_container a{
    padding: 5px;
}
.p_container a:hover{
    background-color: black; color: white; text-decoration: none;
}


/*Survey*/
.s_Main{
    max-width: 500px; margin: 10px auto; padding: 5px;
}
.s_formArea{
    border: thin dotted black; border-radius: 15px; margin-bottom: 40px;
}
.s_formD{
    margin-left: 10px; padding-top: 5px;
}
.s_formD2{
    margin-left: 15px; padding-top: 5px;
}
#s_sBtn{
    background-color: green; color: white; padding: 5px; border-radius: 10px; margin: 5px;
}
#s_rBtn{
    background-color: red; color: white; padding: 5px; border-radius: 10px; margin: 5px;
}


/*Submit / Sent*/
.statusOut{
    width: 300px; margin: 5px auto; border-style: ridge; padding: 10px; background-color: skyblue; border-radius: 20px; text-align: center; color: blue;
}


                    /*---Practices:Pages Styles---*/
/*Practice/HTML: sign in*/


/*Practice: Sign up*/
#pSignUp{
    width: 310px; margin: 5px auto;
}
#pSubB{
    background-color: blue; color: white; border-radius: 10px;
}

/*Html Javascript*/
#light{
    height: 200px; width: 200px; margin-bottom: 5px;
  }
#lightOn{
    color: green;
}
#lightOff{
    color: red;
}
#h_b2{
    display: none;
}
#hBar{
    width: 98%; background-color: whitesmoke; border-style: ridge; color: gray; padding: 10px; text-align: center;
}
#hBarPview{
    display: none;
}

/* iframe.html */
#frame1div{
    padding: 50px;
}
#frame1{
    height: 400px; width: 100%; background-color: white; border: 1px solid red;
}
.chooseList li{
    margin-bottom: 5px;
}
.chooseList li a{
    text-decoration: none;
}

/*HTML Multimedia*/
#mediaPage{
    text-align: center; margin-bottom: 40px;
}
#video1{
    width: 35%; border-style: ridge;
}
#video2{
    width: 35%; border-style: ridge;
}

/*Practice/CSS: Text Indentation*/
.examples{
    background-color: #eee; color: black; padding: 8px; border-left: 7px solid gray;
}

#b1{
    color: red;
}
#b2{
    color: green;
}
#b3{
    color: blue;
}

#ttest2{
    margin: 0; padding: 5px; width: 300px; text-indent: 25px; text-align: justify; border: thin outset white;
}
#ttest3{
    width: 300px; padding: 5px; margin: 0; border: thin outset white; letter-spacing: 5px;
}
#ttest3-1{
    width: 300px; padding: 5px; margin: 0; border: thin outset white; word-spacing: 10px;
}
#ttest4{
    width: 300px; padding: 5px; margin: 0; border: thin outset white; text-align: justify; line-height: 1.5;
}
#ttest5{
    width: 100%; margin: 0;
}
#ttest6{
    font-size: 150%; margin:0 0 8px 0; color: white; text-shadow: 2px 2px 5px black; 
}


    /*---Media Queries---*/

/*Media Query*/
@media screen and (max-width: 800px) {
    #video1, #video2{
        width: 70%;
    }
}

@media screen and (max-width: 620px) {
    #about{
        width: 90%;
    }
    .p_container{
        width: 90%; margin: 0 auto 20px 20px;
    }
  }
